[project]
	description = The Configurethis Gem allows you to access your config values using method names instead of string literals to identify which config value you want to retrieve.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matt Snyder (mattsnyder)
[access "refs/for/refs/*"]
	read = group user/Matt Snyder (mattsnyder)
	push = group user/Matt Snyder (mattsnyder)
	label-Code-Review = -2..+2 group user/Matt Snyder (mattsnyder)
	label-Verified = -1..+1 group user/Matt Snyder (mattsnyder)
	rebase = group user/Matt Snyder (mattsnyder)
	removeReviewer = group user/Matt Snyder (mattsnyder)
	submit = group user/Matt Snyder (mattsnyder)
[access "refs/heads/*"]
	read = group user/Matt Snyder (mattsnyder)
	create = group user/Matt Snyder (mattsnyder)
	push = +force group user/Matt Snyder (mattsnyder)
	pushMerge = group user/Matt Snyder (mattsnyder)
[access "refs/tags/*"]
	push = +force group user/Matt Snyder (mattsnyder)
	pushTag = group user/Matt Snyder (mattsnyder)
	pushSignedTag = group user/Matt Snyder (mattsnyder)
